<div class="box">
    <h1>Hola mundo</h1>
    {{#each products}}
        <div>
            <p>{{this.title}}</p>
            <p>{{this.description}}</p>
            <p>$ {{this.price}}</p>
        </div>
    {{/each}}
</div>